<!DOCTYPE html>
<html>
<head>
	<title>appointment</title>
</head>
<body>
	<%
			var a=new Array();
			a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
			%>
	<div>
		<div>
			<h3>Your appointment information</h3>
		</div>
		<div>
		<table>
			<tr>
				<td>Doctor Name</td>
				<td><%=data.docname%></td>
			</tr>
			<tr>
				<td>Department Name</td>
				<td><%=data.depname%></td>
			</tr>
			<tr>
				<td>Day</td>
				<td><%=a[data.day-1]%></td>
			</tr>
			<tr>
				<td>Start session</td>
				<td><%=data.startp%></td>
			</tr>
			<tr>
				<td>End session</td>
				<td><%=data.endp%></td>
			</tr>
		</table>
		</div>
		<form>
			<div>
				<label for="first name">First name</label>
				<input type="text" name="fname" placeholder="firstname" required />
				<label for="last name">Last name</label>
				<input type="text" name="lname" placeholder="lastname" required>
			</div>
			<div>
				<label for="email">E-mail</label>
				<input type="email" name="email" placeholder="E-mail"required />
			</div>
			<div>
				<label>Problems</label>
				<input type="text" name="pb" width="90" height="80" />
			</div>
			<div>
				<label for="Phoneno">Phone no</label>
				<input type="number" name="pn" placeholder="phoneno" />
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>
