<!DOCTYPE html>
<html>

<head>

	<title>searchresult2</title>
</head>
<style type="text/css">
	body {
		width: 90%;
		margin: auto;
		background-color: black;
		color: white;
		padding: 50px 20px 20px 50px;
	}

	div {
		background-color: #5bc0de;
		padding: 50px 10px 20px 60px;
	}

	table {
		width: 95%;
		color: black;
		border-color: black;
	}

	input {
		color: black;
		background-color: #5bc0de;
		border: solid #5bc0de;
		width: 100%;
	}

	button {
		background-color: #0d67c8;
		color: white;
	}
</style>

<body>
	<div>
		<table border="1">
			<tr>
				<th></th>
				<th>Address</th>
				<th>More Info</th>
			</tr>

			<%
			var a=new Array();
			a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
	        if(user20.length!=0){
	        user20.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="details">
					<td><input name="day" value="<%=a[data.day-1]%>" readonly /></td>
					<td><input name="docname" value="<%=data.docname%>" /></td>
					<td><input name="regno" value="<%=data.reg%>" /></td>
					<td><input name="session_start" value="<%=data.start%>" /></td>
					<td><input name="session_end" value="<%=data.end%>" /></td>
					<td><button type="submit" class="btn btn-primary">Click to view details</button></td>
				</form>
			</tr>
			<% }) %>
			<% } else{ %>
			<tr>
				<td colspan="7">No Data Found</td>
			</tr>
			<% } %>
		</table>
	</div>
</body>

</html>