
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>search result1.0</title>
</head>
<style type="text/css">
	.leftside , .rightside{
		height: 120vh;
		width: 100%;
	}
	.jyoissmart1{background-color: black;
		color: white;
		
	}
	.jyoissmart2{
		background-color: #5bc0de;
		color: black;
		
	}
	table{
		margin: auto;
		width: 90%;
		border: 3px solid darkblue;
	}
	.jyoisbomb{
		padding: 30px 30px 20px 20px;
	}
	.iwannafuckher{
		padding: 90px 5px 20px 20px;
	}
	td{
		border: 2px solid darkblue;

	}
	th{
		border: 2px solid darkblue;
	}
</style>

<body>
	<div><h1><%=data.name %></h1></div>
	<div class="row no gutters">
  <div class="col-md-8 jyoissmart2 no gutters">
  <div class="leftside">
  <div class="jyoisbomb">		
  	<table border="2">
			<tr>
				<th>Speciality</th>
				<th>Doctor</th>
				<th>Start session</th>
				<th>End session</th>
			</tr>

			<%
	        if(user3.length!=0){
	        user3.forEach(function(data){
	        %>
			<tr>
				<td><%=data.dname %></td>
				<td><%=data.docname %></td>
				<td><%=data.start %></td>
				<td><%=data.end %></td>
			</tr>
			<% }) %>
			<% } else{ %>
			<tr>
				<td colspan="7">No Data Found</td>
			</tr>
			<% } %>
		</table>
	</div>
	</div>
	</div>
  <div class="col-md-4 jyoissmart1 no gutters">
  	<div class="rightside">
  			
  		<div class="row iwannafuckher">
  			<p><h1>About</h1></p>
  			<p><%=data.descp %></p>
  <table>
  	<tr><td></td></tr>
  	<p>Location</p>
  	<p>Contact1</p>
  	<p>Contact2</p>
  	<p>Email</p>
  	<p>Beds</p>
  	<p>Number of Ambulances</p>

  	<p><%=data.address %></p>
  	<p><%=data.contact1 %></p>
  	<p><%=data.contact2 %></p>
  	<p><%=data.email %></p>
  	<p><%=data.beds %></p>
  	<p><%=data.amb %></p>
  </table>
</div>
</div>
</div>
</body>

