<!DOCTYPE html>
<html>

<head>
	<title>search result1.0</title>
</head>
<style type="text/css">
	body {
		margin: auto;
		padding: 70px 30px 10px 30px;
		width: 85%;
		background-color: black;
	}

	div {
		margin: auto;
		font-size: 15px;
		background-color: #5bc0de;
		padding: 15px 10px 10px 10px;
	}

	table {
		width: 80%;
	}
</style>

<body>
	<div>
		<table border="1">
			<tr>
				<th>Hospital</th>
				<th>Speciality</th>
				<th>Doctor</th>
				<th>Day</th>
				<th>Start session</th>
				<th>End session</th>
				<th>Contact1</th>
				<th>Call Ambulance</th>
				<th>Address</th>
				<th>Appointment</th>
			</tr>

			<%
			var a=new Array();
			a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
			var d=new Date(); var curd=d.getDay()+1;%>
	        <%if(user10.length!=0){
	        user10.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="">
					<td><%=data.name %></td>
					<td><%=data.dname %></td>
					<td><%=data.docname %></td>
					<td><%=a[data.day-1]%></td>
					<td><%=data.start %></td>
					<td><%=data.end %></td>
					<td><%=data.contact1 %></td>
					<td><%=data.contact2%></td>
					<td hidden><input name="si" value="<%=data.sid%>" hidden readonly /></td>
					<td><%=data.address %></td>
					<%if(data.day==curd || data.capcnt==0){ %>
						<td>Appointment Unavailable</td>
					<%} else{ %>
					<td><button type="submit">Book an appointment</button></td>
					<%}%>
				</form>
			</tr>
			<% }) %>
			<% }%>
			<%
	        if(user20.length!=0){
	        user20.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="">
					<td><%=data.name %></td>
					<td><%=data.dname %></td>
					<td><%=data.docname %></td>
					<td><%=a[data.day-1]%></td>
					<td><%=data.start %></td>
					<td><%=data.end %></td>
					<td><%=data.contact1 %></td>
					<td><%=data.contact2%></td>
					<td hidden><input name="si" value="<%=data.sid%>" hidden readonly /></td>
					<td><%=data.address %></td>
					<%if(data.day==curd || data.capcnt==0){ %>
					<td>Appointment Unavailable</td>
					<%} else{ %>
					<td><button type="submit">Book an appointment</button></td>
					<%}%>
				</form>
			</tr>
			<% }) %>
			<% }%>
			<%
	        if(user30.length!=0){
	        user30.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="">
					<td><%=data.name %></td>
					<td><%=data.dname %></td>
					<td><%=data.docname %></td>
					<td><%=a[data.day-1]%></td>
					<td><%=data.start %></td>
					<td><%=data.end %></td>
					<td><%=data.contact1 %></td>
					<td><%=data.contact2%></td>
					<td hidden><input name="si" value="<%=data.sid%>" hidden readonly /></td>
					<td><%=data.address %></td>
					<%if(data.day==curd || data.capcnt==0){ %>
					<td>Appointment Unavailable</td>
					<%} else{ %>
					<td><button type="submit">Book an appointment</button></td>
					<%}%>
				</form>
			</tr>
			<% }) %>
			<% }%>
		</table>
	</div>
</body>

</html>
