  

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<head>
	<title>search result1.0</title>
</head>
<style type="text/css">
	body{
			margin: auto;
			width: 100%;
			padding: 50px 10px 10px 10px;
			background-color: black;
		}
		table{
			width: 100%;
		}
		#container{
			margin: auto;
			padding: 20px 20px 10px 20px;
			background-color: white;
		}
		#head{
			background-color: #5bc0de;
			padding: 1px 2px 1px 2px;
			color: white;
		}
		img{
			height: 60px;
		}
		#hos{
			padding-top: 5px;
			padding-left: 90%;
		}
		#info{
		color: #a6a6a6;
	}
</style>

<body>
	<img src="https://static1.squarespace.com/static/58c6fc4a37c581154f75cdd2/t/58e662456a496356f0430f90/1604006272177/">
	<div id="container">
		<div id="head">
			<h3><%=keyword%></h3>
		</div>
		<table border="1">
			<tr>
				<th>Hospital</th>
				<th>Speciality</th>
				<th>Doctor</th>
				<th>Day</th>
				<th>Start session</th>
				<th>End session</th>
				<th>Help-desk</th>
				<th>Call Ambulance</th>
				<th>Address</th>
				<th>Appointment</th>
			</tr>

			<%
			var a=new Array();
			a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
			var d=new Date(); var curd=d.getDay()+1;%>
	        <%if(user10.length!=0){
	        user10.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="appointment">
					<td><%=data.name %></td>
					<td><%=data.dname %></td>
					<td><%=data.docname %></td>
					<td><%=a[data.day-1]%></td>
					<td><%=data.start %></td>
					<td><%=data.end %></td>
					<td><%=data.contact1 %></td>
					<td><%=data.contact2%></td>
					<td hidden><input name="si" value="<%=data.sid%>" hidden readonly /></td>
					<td><%=data.address %></td>
					<%if(data.day==curd || data.capcnt==0){ %>
						<td>Appointment Unavailable</td>
					<%} else{ %>
					<td><button type="submit" class="btn btn-success">Book an appointment</button></td>
					<%}%>
				</form>
			</tr>
			<% }) %>
			<% }%>
			<%
	        if(user20.length!=0){
	        user20.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="appointment">
					<td><%=data.name %></td>
					<td><%=data.dname %></td>
					<td><%=data.docname %></td>
					<td><%=a[data.day-1]%></td>
					<td><%=data.start %></td>
					<td><%=data.end %></td>
					<td><%=data.contact1 %></td>
					<td><%=data.contact2%></td>
					<td hidden><input name="si" value="<%=data.sid%>" hidden readonly /></td>
					<td><%=data.address %></td>
					<%if(data.day==curd || data.capcnt<=0){ %>
					<td>Appointment Unavailable</td>
					<%} else{ %>
					<td><button type="submit" class="btn btn-success">Book an appointment</button></td>
					<%}%>
				</form>
			</tr>
			<% }) %>
			<% }%>
			<%
	        if(user30.length!=0){
	        user30.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="appointment">
					<td><%=data.name %></td>
					<td><%=data.dname %></td>
					<td><%=data.docname %></td>
					<td><%=a[data.day-1]%></td>
					<td><%=data.start %></td>
					<td><%=data.end %></td>
					<td><%=data.contact1 %></td>
					<td><%=data.contact2%></td>
					<td hidden><input name="si" value="<%=data.sid%>" hidden readonly /></td>
					<td><%=data.address %></td>
					<%if(data.day==curd || data.capcnt==0){ %>
					<td>Appointment Unavailable</td>
					<%} else{ %>
					<td><button type="submit" class="btn btn-success">Book an appointment</button></td>
					<%}%>
				</form>
			</tr>
			<% }) %>
			<% }%>
		</table>
		<div id="info">
			*Appointments are unavailable for today's sessions.Please contact Hospital Help-desk for more information.
		</div>
	</div>
</body>

</html>
