<!DOCTYPE html>
<html>

<head>
	<title>search result1.0</title>
</head>

<body>
	<style type="text/css">
		body {
			width: 80%;
			margin: auto;
			background-color: black;
			color: white;
		}

		div {
			background-color: blue;
			padding: 50px 10px 20px 10px;
		}

		table {
			width: 95%;
		}
	</style>
	<div>
		<table border="1">
			<tr>
				<th>Hospital</th>
				<th>Speciality</th>
				<th>Doctor</th>
				<th>Day</th>
				<th>Start session</th>
				<th>End session</th>
				<th>Contact1</th>
				<th>Contact2</th>
				<th>Address</th>
			</tr>

			<%
	        if(user10.length!=0){
	        user10.forEach(function(data){
	        %>
			<tr>
				<td><%=data.name %></td>
				<td><%=data.dname %></td>
				<td><%=data.docname %></td>
				<td><%=a[data.day-1]%></td>
				<td><%=data.start %></td>
				<td><%=data.end %></td>
				<td><%=data.contact1 %></td>
				<td><%=data.contact2%></td>
				<td><%=data.address %></td>
			</tr>
			<% }) %>
			<% }%>
			<%
	        if(user20.length!=0){
	        user20.forEach(function(data){
	        %>
			<tr>
				<td><%=data.name %></td>
				<td><%=data.dname %></td>
				<td><%=data.docname %></td>
				<td><%=a[data.day-1]%></td>
				<td><%=data.start %></td>
				<td><%=data.end %></td>
				<td><%=data.contact1 %></td>
				<td><%=data.contact2%></td>
				<td><%=data.address %></td>
			</tr>
			<% }) %>
			<% }%>
			<%
	        if(user30.length!=0){
	        user30.forEach(function(data){
	        %>
			<tr>
				<td><%=data.name %></td>
				<td><%=data.dname %></td>
				<td><%=data.docname %></td>
				<td><%=a[data.day-1]%></td>
				<td><%=data.start %></td>
				<td><%=data.end %></td>
				<td><%=data.contact1 %></td>
				<td><%=data.contact2%></td>
				<td><%=data.address %></td>
			</tr>
			<% }) %>
			<% }%>
		</table>
	</div>
</body>

</html>
