<!DOCTYPE html>
<html>
<head>
	<title>search result1.0</title>
</head>
<body>
	<style type="text/css">
		body{
			width: 80%;
			margin: auto;
			background-color: black;
			color: white;
		}
		div{
			background color: #00ff00;
			padding: 50px 10px 20px 10px ;
		}
		table{
			width: 95%;
		}
	</style>
	<div>
<table border="1">
		<tr>
			<th>Hospital</th>
				<th>Speciality</th>
				<th>Doctor</th>
				<th>Day</th>
				<th>Start session</th>
				<th>End session</th>
				<th>Contact1</th>
				<th>Contact2</th>
				<th>Address</th>
			</tr>

			<%
			var i=1;
			var a=new Array();
			a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
	        if(user1.length!=0){
	        user1.forEach(function(data){
	        %>
			<tr>
				<td><%=data.name %></td>
				<td><%=data.dname %></td>
				<td><%=data.docname %></td>
				<td><%=a[data.day-1]%></td>
				<td><%=data.start %></td>
				<td><%=data.end %></td>
			<td><%=data.contact1 %></td>
			<td><%=data.contact2%></td>
			<td><%=data.address %></td>
		</tr>
		<% }) %>
		<% } else{ %>
		<tr>
			<td colspan="7">No Data Found</td>
		</tr>
		<% } %>
		<%
			var i=1;
			var a=new Array();
			a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
	        if(user2.length!=0){
	        user1.forEach(function(data){
	        %>
			<tr>
				<td><%=data.name %></td>
				<td><%=data.dname %></td>
				<td><%=data.docname %></td>
				<td><%=a[data.day-1]%></td>
				<td><%=data.start %></td>
				<td><%=data.end %></td>
			<td><%=data.contact1 %></td>
			<td><%=data.contact2%></td>
			<td><%=data.address %></td>
		</tr>
		<% }) %>
		<% } else{ %>
		<tr>
			<td colspan="7">No Data Found</td>
		</tr>
		<% } %>
		<%
			var i=1;
			var a=new Array();
			a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
	        if(user1.length!=0){
	        user3.forEach(function(data){
	        %>
			<tr>
				<td><%=data.name %></td>
				<td><%=data.dname %></td>
				<td><%=data.docname %></td>
				<td><%=a[data.day-1]%></td>
				<td><%=data.start %></td>
				<td><%=data.end %></td>
			<td><%=data.contact1 %></td>
			<td><%=data.contact2%></td>
			<td><%=data.address %></td>
		</tr>
		<% }) %>
		<% } else{ %>
		<tr>
			<td colspan="7">No Data Found</td>
		</tr>
		<% } %>
	</table>
</div>
</body>
</html>
